<div id="search-step-2-container">
    <h3>A few more things and we are set to show the plan!</h3>
    <div id="datePicker">
        <input id="from-date" class="datepicker" type="date" />
        <div class="date-separator"> - </div>
        <input id="to-date" class="datepicker" type="date" />

    </div>
    <div id="msgContainer">
        <h3>Dates are flexible: +/- 7 days</h3>
    </div>
</div>
<!-- <div id="sliderContainer">
    <div id="slider"></div>
</div> -->
