<section id="portfolio" class="section">
    <h4 class="get-started text-center lg-margin">
    Please pick up to 5 places you'd like to visit...
    </h4>

    <header class="container text-center">
    </header>

    <div id="portfolio-single-content" class="container"></div><!-- End #portfolio-single-content -->
    <div id="portfolio-container" class="portfolio-container">
        <div id="portfolio-wrapper">
            <ul id="portfolio-item-container" class="clearfix" data-maxcolumn="4" data-rotateanimation="true" data-animationclass="fadeInUpBig">
                <li class="portfolio-item animate-item photography" data-animate-time="80">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178293">New York City</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/nyc.jpg" alt="item 1"/>
                        <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item design illustration video" data-animate-time="160">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="180073">Maui</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/maui.jpg" alt="item 2">
                        <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item design" data-animate-time="240">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178286">Miami</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/miami.jpg" alt="item 3">
                         <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item photography video" data-animate-time="320">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178248">Chicago</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/chicago.jpg" alt="item 4">
                        <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
            </li>
                <li class="portfolio-item animate-item illustration design" data-animate-time="400">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178318">Washington D.C.</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/dc.jpg" alt="item 5">
                        <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item design" data-animate-time="480">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178294">Orlando</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/disney.jpg" alt="item 6">
                         <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item photography illustration" data-animate-time="560">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178276">Las Vegas</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/las-vegas.jpg" alt="item 7">
                          <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item illustration" data-animate-time="640">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178280">Los Angeles</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/hollywood.jpg" alt="item 8">
                         <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item photography" data-animate-time="720">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178304">San Diego</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/sandy.jpg" alt="item 9">
                          <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item photography" data-animate-time="800">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178292">New Orleans</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/mardi.jpg" alt="item 10">
                        <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item design video" data-animate-time="880">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178305">San Francisco</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/sf.jpg" alt="item 11">
                        <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item illustration" data-animate-time="640">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178307">Seattle</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/seattle.jpg" alt="item 8">
                        <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item photography" data-animate-time="720">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178239">Boston</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/boston.jpg" alt="item 9">
                         <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item photography" data-animate-time="800">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="603224">Orange County</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/oc.jpg" alt="item 10">
                         <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item design video" data-animate-time="880">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="178232">Atlanta</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/bbq.jpg" alt="item 11">
                          <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
                <li class="portfolio-item animate-item photography video" data-animate-time="960">
                    <span  class="photoSelect"></span>
                    <span class="image-text" data-regionId="6023765">Florida Keys</span>
                    <div class="portfolio-item-wrapper">
                        <img src="images/portfolio/florida_keys.jpg" alt="item 12">
                         <div class="portfolio-overlay yellowbg">
                        </div><!-- End .portfolio-overlay -->
                    </div><!-- End .portfolio-item-wrapper -->
                </li>
            </ul><!-- End #portfolio-item-container -->
        </div><!-- End .portfolio-wrapper -->
    </div>
</section>
