<!-- Footer Container <footer>-->
<div id="div_footerContainer_2" class="navbar navbar-fixed-bottom">
    <!-- Fixed Footer -->
    <div id="div_destMapBtnBgImgContainer"><span id="spn_destMapBtnBgImg"></span></div>
    <div id="div_destMapBtnContainer" class="text-center outerProgress">
        <div id="div_destMapProgressLevel" class="innerProgress"></div>
        <div id="div_destMapBtnText"><h3>Search</h3></div>
    </div>
            
    <div id="div_destBtnBgImgContainer"><span id="spn_destBtnBgImg"></span></div>
    <div id="div_destinationBtnContainer" class="text-center outerProgress">
        <div id="div_innerProgressLevel" class="innerProgress"></div>
        <div id="div_destImgBtnText"><h3>Search</h3></div>
    </div>
</div>
